In [1]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [2]:
import requests
import bs4
from bs4 import BeautifulSoup

In [3]:
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [44]:
driver = webdriver.Chrome(r"D:\data science\chromedriver.exe")
url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/"
driver.get(url)

In [45]:
driver.find_element_by_xpath("//a[@class='external text']").click()

In [46]:
driver.find_element_by_xpath("//a[@data-serp-pos='0']").click()

In [51]:
ranks=[]

In [67]:
ranks=[]
names=[]
artist=[]
uploaddate=[]
views=[]

In [68]:
ranking=driver.find_elements_by_xpath("//td[@align='center'][1]")
for i in ranking[0:30]:
    ranks.append(i.text)
ranks

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.']

In [69]:
namess=driver.find_elements_by_xpath("//td/a")
for i in namess[0:30]:
    names.append(i.text)
names

['Baby Shark Dance',
 'Pinkfong',
 'Despacito',
 'Luis Fonsi',
 'Daddy Yankee',
 'Shape of You',
 'Ed Sheeran',
 'See You Again',
 'Wiz Khalifa',
 'Charlie Puth',
 'Johny Johny Yes Papa',
 'Uptown Funk',
 'Mark Ronson',
 'Bruno Mars',
 'Gangnam Style',
 'Psy',
 'Sorry',
 'Justin Bieber',
 'Cocomelon – Nursery Rhymes',
 'Sugar',
 'Maroon 5',
 'ChuChu TV',
 'Roar',
 'Katy Perry',
 'Thinking Out Loud',
 'Ed Sheeran',
 'Counting Stars',
 'OneRepublic',
 'Shake It Off',
 'Taylor Swift']

In [70]:
art=driver.find_elements_by_xpath('//td[3]')
for i in art[0:30]:
    artist.append(i.text)
artist

["Pinkfong Kids' Songs & Stories",
 'Luis Fonsi featuring Daddy Yankee',
 'Ed Sheeran',
 'Wiz Khalifa featuring Charlie Puth',
 'Get Movies',
 'LooLoo Kids',
 'Mark Ronson featuring Bruno Mars',
 'Psy',
 'Miroshka TV',
 'Justin Bieber',
 'Cocomelon – Nursery Rhymes',
 'Maroon 5',
 'ChuChu TV',
 'Katy Perry',
 'Ed Sheeran',
 'OneRepublic',
 'Taylor Swift',
 'El Chombo featuring Cutty Ranks',
 'Enrique Iglesias featuring Descemer Bueno and Gente De Zona',
 'Major Lazer and DJ Snake featuring MØ',
 'Alan Walker',
 'Katy Perry featuring Juicy J',
 'Maroon 5 featuring Cardi B',
 'Passenger',
 'J Balvin and Willy William',
 'Adele',
 'Taylor Swift',
 'Shakira featuring Freshlyground',
 'Ed Sheeran',
 'Shakira featuring Maluma']

In [71]:
upload=driver.find_elements_by_xpath('//td[@align="right"]')
for i in upload[0:30]:
    uploaddate.append(i.text)
uploaddate

['June 17, 2016',
 'January 12, 2017',
 'January 30, 2017',
 'April 6, 2015',
 'January 31, 2012',
 'October 8, 2016',
 'November 19, 2014',
 'July 15, 2012',
 'February 27, 2018',
 'October 22, 2015',
 'May 2, 2018',
 'January 14, 2015',
 'March 6, 2014',
 'September 5, 2013',
 'October 7, 2014',
 'May 31, 2013',
 'August 18, 2014',
 'April 5, 2018',
 'April 11, 2014',
 'March 22, 2015',
 'December 3, 2015',
 'February 20, 2014',
 'May 31, 2018',
 'July 25, 2012',
 'June 29, 2017',
 'October 22, 2015',
 'November 10, 2014',
 'June 4, 2010',
 'November 9, 2017',
 'November 18, 2016']

In [72]:
view=driver.find_elements_by_xpath('//td[4]')
for i in view[0:30]:
    views.append(i.text)
views

['7.39',
 '7.09',
 '5.10',
 '4.85',
 '4.38',
 '4.37',
 '4.03',
 '3.88',
 '3.66',
 '3.37',
 '3.34',
 '3.34',
 '3.30',
 '3.22',
 '3.13',
 '3.13',
 '2.99',
 '2.94',
 '2.94',
 '2.93',
 '2.92',
 '2.92',
 '2.91',
 '2.85',
 '2.82',
 '2.75',
 '2.68',
 '2.66',
 '2.65',
 '2.60']

In [73]:
print(len(ranks))

30

In [75]:
df=pd.DataFrame({'Ranks':ranks,
                'Name of video':names,
                'Artist Name':artist,'Upload Date':uploaddate,'Views(billions)':views})
#printing dataframe
print(df)

   Ranks               Name of video  \
0     1.            Baby Shark Dance
1     2.                    Pinkfong
2     3.                   Despacito
3     4.                  Luis Fonsi
4     5.                Daddy Yankee
5     6.                Shape of You
6     7.                  Ed Sheeran
7     8.               See You Again
8     9.                 Wiz Khalifa
9    10.                Charlie Puth
10   11.        Johny Johny Yes Papa
11   12.                 Uptown Funk
12   13.                 Mark Ronson
13   14.                  Bruno Mars
14   15.               Gangnam Style
15   16.                         Psy
16   17.                       Sorry
17   18.               Justin Bieber
18   19.  Cocomelon – Nursery Rhymes
19   20.                       Sugar
20   21.                    Maroon 5
21   22.                   ChuChu TV
22   23.                        Roar
23   24.                  Katy Perry
24   25.           Thinking Out Loud
25   26.                  Ed Sheeran
26   27.              Counting Stars
27   28.                 OneRepublic
28   29.                Shake It Off
29   30.                Taylor Swift

                                          Artist Name        Upload Date  \
0                      Pinkfong Kids' Songs & Stories      June 17, 2016
1                   Luis Fonsi featuring Daddy Yankee   January 12, 2017
2                                          Ed Sheeran   January 30, 2017
3                  Wiz Khalifa featuring Charlie Puth      April 6, 2015
4                                          Get Movies   January 31, 2012
5                                         LooLoo Kids    October 8, 2016
6                    Mark Ronson featuring Bruno Mars  November 19, 2014
7                                                 Psy      July 15, 2012
8                                         Miroshka TV  February 27, 2018
9                                       Justin Bieber   October 22, 2015
10                         Cocomelon – Nursery Rhymes        May 2, 2018
11                                           Maroon 5   January 14, 2015
12                                          ChuChu TV      March 6, 2014
13                                         Katy Perry  September 5, 2013
14                                         Ed Sheeran    October 7, 2014
15                                        OneRepublic       May 31, 2013
16                                       Taylor Swift    August 18, 2014
17                    El Chombo featuring Cutty Ranks      April 5, 2018
18  Enrique Iglesias featuring Descemer Bueno and ...     April 11, 2014
19              Major Lazer and DJ Snake featuring MØ     March 22, 2015
20                                        Alan Walker   December 3, 2015
21                       Katy Perry featuring Juicy J  February 20, 2014
22                         Maroon 5 featuring Cardi B       May 31, 2018
23                                          Passenger      July 25, 2012
24                         J Balvin and Willy William      June 29, 2017
25                                              Adele   October 22, 2015
26                                       Taylor Swift  November 10, 2014
27                    Shakira featuring Freshlyground       June 4, 2010
28                                         Ed Sheeran   November 9, 2017
29                           Shakira featuring Maluma  November 18, 2016

   Views(billions)
0             7.39
1             7.09
2             5.10
3             4.85
4             4.38
5             4.37
6             4.03
7             3.88
8             3.66
9             3.37
10            3.34
11            3.34
12            3.30
13            3.22
14            3.13
15            3.13
16            2.99
17            2.94
18            2.94
19            2.93
20            2.92
21            2.92
22            2.91
23            2.85
24            2.82
25            2.75
26            2.68
27            2.66
28            2.65
29            2.60

In [ ]:
Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [76]:
driver = webdriver.Chrome(r"D:\data science\chromedriver.exe")
url="https://www.bcci.tv/."
driver.get(url)

In [77]:
driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']").click()

In [82]:
driver.find_element_by_xpath("//a[@class='navigation__link navigation__link--in-drop-down']").click()

In [127]:
matchtitlelist=[]
series_list=[]
place_list=[]
datess=[]
timess=[]

In [128]:
title=driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
for i in title:
    matchtitlelist.append(i.text)
matchtitlelist

['1st Test',
 '2nd Test',
 '3rd Test',
 '4th Test',
 '1st Test',
 '2nd Test',
 '3rd Test',
 '4th Test',
 '1st T20I',
 '2nd T20I',
 '3rd T20I',
 '4th T20I',
 '5th T20I',
 '1st ODI',
 '2nd ODI',
 '3rd ODI',
 '1st Test',
 '2nd Test',
 '3rd Test',
 '4th Test']

In [129]:
series=driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
for i in series:
    series_list.append(i.text)
series_list

['AUSTRALIA V INDIA 2020/21',
 'AUSTRALIA V INDIA 2020/21',
 'AUSTRALIA V INDIA 2020/21',
 'AUSTRALIA V INDIA 2020/21',
 'INDIA V ENGLAND 2021',
 'INDIA V ENGLAND 2021',
 'INDIA V ENGLAND 2021',
 'INDIA V ENGLAND 2021',
 'INDIA V ENGLAND 2021',
 'INDIA V ENGLAND 2021',
 'INDIA V ENGLAND 2021',
 'INDIA V ENGLAND 2021',
 'INDIA V ENGLAND 2021',
 'INDIA V ENGLAND 2021',
 'INDIA V ENGLAND 2021',
 'INDIA V ENGLAND 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021']

In [130]:
place=driver.find_elements_by_xpath("//div[2]/div[2]/p/span")
for i in place:
    place_list.append(i.text)
place_list

['Adelaide Oval, Adelaide',
 'Melbourne Cricket Ground, Melbourne',
 'Sydney Cricket Ground, Sydney',
 'Brisbane Cricket Ground, Brisbane',
 'M. A. Chidambaram Stadium, Chennai',
 'M. A. Chidambaram Stadium, Chennai',
 'Sardar Patel Stadium, Ahmedabad',
 'Sardar Patel Stadium, Ahmedabad',
 'Sardar Patel Stadium, Ahmedabad',
 'Sardar Patel Stadium, Ahmedabad',
 'Sardar Patel Stadium, Ahmedabad',
 'Sardar Patel Stadium, Ahmedabad',
 'Sardar Patel Stadium, Ahmedabad',
 'Maharashtra Cricket Association Stadium, Pune',
 'Maharashtra Cricket Association Stadium, Pune',
 'Maharashtra Cricket Association Stadium, Pune',
 'Trent Bridge, Nottingham',
 "Lord's, London",
 'Headingley, Leeds',
 'The Oval, London']

In [131]:
len(place_list)

20

In [135]:
date=driver.find_elements_by_xpath("//div[@class='fixture__date-details']")
for i in date:
    datess.append(i.text)
datess

['DECEMBER\n09:30 IST',
 'DECEMBER\n05:00 IST',
 'JANUARY\n05:00 IST',
 'JANUARY\n05:30 IST',
 'FEBRUARY\n09:30 IST',
 'FEBRUARY\n09:30 IST',
 'FEBRUARY\n14:00 IST',
 'MARCH\n09:30 IST',
 'MARCH\n18:00 IST',
 'MARCH\n18:00 IST',
 'MARCH\n18:00 IST',
 'MARCH\n18:00 IST',
 'MARCH\n18:00 IST',
 'MARCH\n14:30 IST',
 'MARCH\n14:30 IST',
 'MARCH\n09:30 IST',
 'AUGUST\n15:30 IST',
 'AUGUST\n15:30 IST',
 'AUGUST\n15:30 IST',
 'SEPTEMBER\n15:30 IST']

In [136]:
datess1=[]
datess2=[]

In [137]:
date1=driver.find_elements_by_xpath("//span[@class='fixture__date']")
for i in date1:
    datess1.append(i.text)
datess1

['17',
 '26',
 '07',
 '15',
 '05',
 '13',
 '24',
 '04',
 '12',
 '14',
 '16',
 '18',
 '20',
 '23',
 '26',
 '28',
 '04',
 '12',
 '25',
 '02']

In [138]:
date2=driver.find_elements_by_xpath("//span[@class='fixture__month']")
for i in date2:
    datess2.append(i.text)
datess2

['DECEMBER',
 'DECEMBER',
 'JANUARY',
 'JANUARY',
 'FEBRUARY',
 'FEBRUARY',
 'FEBRUARY',
 'MARCH',
 'MARCH',
 'MARCH',
 'MARCH',
 'MARCH',
 'MARCH',
 'MARCH',
 'MARCH',
 'MARCH',
 'AUGUST',
 'AUGUST',
 'AUGUST',
 'SEPTEMBER']

In [139]:
df2=pd.DataFrame({})
df2['date1']=datess1
df2['date2']=datess2
df2

   date1      date2
0     17   DECEMBER
1     26   DECEMBER
2     07    JANUARY
3     15    JANUARY
4     05   FEBRUARY
5     13   FEBRUARY
6     24   FEBRUARY
7     04      MARCH
8     12      MARCH
9     14      MARCH
10    16      MARCH
11    18      MARCH
12    20      MARCH
13    23      MARCH
14    26      MARCH
15    28      MARCH
16    04     AUGUST
17    12     AUGUST
18    25     AUGUST
19    02  SEPTEMBER

In [146]:
time=driver.find_elements_by_xpath("//span[@class='fixture__time']")
for i in time:
    timess.append(i.text)

In [144]:
df=pd.DataFrame({})

df['Match Title']=matchtitlelist
df['Series']=series_list
df['Place']=place_list
df['Date'] = df2['date1'] +" "+ df2['date2'] + " "+"2021"
df['Time']=timess

In [145]:
df

,Match Title,Series,Place,Date,Time
0,1st Test,AUSTRALIA V INDIA 2020/21,"Adelaide Oval, Adelaide",17 DECEMBER 2021,09:30 IST
1,2nd Test,AUSTRALIA V INDIA 2020/21,"Melbourne Cricket Ground, Melbourne",26 DECEMBER 2021,05:00 IST
2,3rd Test,AUSTRALIA V INDIA 2020/21,"Sydney Cricket Ground, Sydney",07 JANUARY 2021,05:00 IST
3,4th Test,AUSTRALIA V INDIA 2020/21,"Brisbane Cricket Ground, Brisbane",15 JANUARY 2021,05:30 IST
4,1st Test,INDIA V ENGLAND 2021,"M. A. Chidambaram Stadium, Chennai",05 FEBRUARY 2021,09:30 IST
5,2nd Test,INDIA V ENGLAND 2021,"M. A. Chidambaram Stadium, Chennai",13 FEBRUARY 2021,09:30 IST
6,3rd Test,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",24 FEBRUARY 2021,14:00 IST
7,4th Test,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",04 MARCH 2021,09:30 IST
8,1st T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",12 MARCH 2021,18:00 IST
9,2nd T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",14 MARCH 2021,18:00 IST
10,3rd T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",16 MARCH 2021,18:00 IST
11,4th T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",18 MARCH 2021,18:00 IST
12,5th T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",20 MARCH 2021,18:00 IST
13,1st ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",23 MARCH 2021,14:30 IST
14,2nd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",26 MARCH 2021,14:30 IST
15,3rd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",28 MARCH 2021,09:30 IST
16,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04 AUGUST 2021,15:30 IST
17,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12 AUGUST 2021,15:30 IST
18,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25 AUGUST 2021,15:30 IST
19,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02 SEPTEMBER 2021,15:30 IST

Q.3 Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [148]:
driver = webdriver.Chrome(r"D:\data science\chromedriver.exe")
url="https://www.guru99.com/"
driver.get(url)

In [150]:
driver.find_element_by_xpath("//i[@class='fa fa-code']").click()

In [152]:
driver.find_element_by_xpath("//table[5]/tbody/tr[34]/td[1]/a/strong").click()

In [194]:
descriptions1=[]
names1=[]

In [195]:
desc=driver.find_elements_by_xpath("//table[@class='table table-striped']//td[2]")
for i in desc:
    descriptions1.append(i.text)
descriptions1

['Description',
 'This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'This Exception occurs if an element could not be found.',
 'This Exception occurs if the frame target to be switched to does not exist.',
 'This Exception occurs when you switch to no presented alert.',
 'This Exception occurs if the window target to be switch does not exist.',
 'This Selenium exception occurs happens when the web element is detached from the current DOM.',
 'The WebDriver is acting after you quit the browser.',
 "Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn't found in the specified time.",
 'This Exception takes place when the WebDriver is acting right after you close the browser.',
 'This type of Exception takes place when there is a disconnection in the driver.',
 'The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 'This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 'This happens while interacting with the Firefox extension or the remote driver server.',
 'Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 'This expectation will occur when IME engine activation has failed.',
 'It takes place when IME support is unavailable.',
 'Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 'It occurs when an argument does not belong to the expected type.',
 'This happens when you try to add a cookie under a different domain instead of current URL.',
 'This type of Exception matches an interacting operation that is not valid.',
 "It occurs when command can't be finished when the element is invalid.",
 'This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 'This occurs when the frame or window target to be switched does not exist.',
 'This issue occurs while executing JavaScript given by the user.',
 'It occurs when you afford to get the session when the session is not created.',
 'This kind of Exception occurs when the attribute of an element could not be found.',
 'It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 'ContextAware does mobile device testing.',
 'This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 'This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 'This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 'It is not possible to capture a screen.',
 'It happens when a new session could not be successfully created.',
 'This occurs if a driver is unable to set a cookie.',
 'Happens if a support class did not get a web element as expected.',
 'This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 'It occurs when there is the appearance of an unexpected alert.',
 'This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 'This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 "This occurs when remote WebDriver does n't send valid commands as expected."]

In [196]:
nam=driver.find_elements_by_xpath("//table[@class='table table-striped']//td[1]")
for i in nam:
    names1.append(i.text)
names1

['Exception name',
 'ElementNotVisibleException',
 'ElementNotSelectableException',
 'NoSuchElementException',
 'NoSuchFrameException',
 'NoAlertPresentException',
 'NoSuchWindowException',
 'StaleElementReferenceException',
 'SessionNotFoundException',
 'TimeoutException',
 'WebDriverException',
 'ConnectionClosedException',
 'ElementClickInterceptedException',
 'ElementNotInteractableException',
 'ErrorInResponseException',
 'ErrorHandler.UnknownServerException',
 'ImeActivationFailedException',
 'ImeNotAvailableException',
 'InsecureCertificateException',
 'InvalidArgumentException',
 'InvalidCookieDomainException',
 'InvalidCoordinatesException',
 'InvalidElementStateExceptio',
 'InvalidSessionIdException',
 'InvalidSwitchToTargetException',
 'JavascriptException',
 'JsonException',
 'NoSuchAttributeException',
 'MoveTargetOutOfBoundsException',
 'NoSuchContextException',
 'NoSuchCookieException',
 'NotFoundException',
 'RemoteDriverServerException',
 'ScreenshotException',
 'SessionNotCreatedException',
 'UnableToSetCookieException',
 'UnexpectedTagNameException',
 'UnhandledAlertException',
 'UnexpectedAlertPresentException',
 'UnknownMethodException',
 'UnreachableBrowserException',
 'UnsupportedCommandException']

In [197]:
len(names1),len(descriptions1)

(42, 42)

In [198]:
dfexcept=pd.DataFrame({})

dfexcept['Exception Name']=names1
dfexcept['Description']=descriptions1
dfexcept = dfexcept.iloc[1:]
dfexcept

,Exception Name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [199]:
driver = webdriver.Chrome(r"D:\data science\chromedriver.exe")
url="http://statisticstimes.com/"
driver.get(url)

In [214]:
driver.find_element_by_xpath("//div[2]/div[2]/button/i").click()
driver.find_element_by_xpath("//div[2]/div[2]/div/a[2]").click()

In [217]:
driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").click() #clicking fpr finding indian states gdp

In [338]:
ranks=[]
state=[]
gsdp1=[]
gsdp2=[]
shares=[]
gdp=[]

In [339]:
#//*[@id="table_id"]/tbody/tr[1]/td[1]

In [340]:
ranking=driver.find_elements_by_xpath("//td[@class='data1']")
for i in ranking[0:33]:
    ranks.append(i.text)
ranks

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

In [341]:
state=[]

In [342]:
st=driver.find_elements_by_xpath("//td[@class='name']")
for i in st[0:33]:
    state.append(i.text)
len(state),state

(33,
 ['Maharashtra',
  'Tamil Nadu',
  'Uttar Pradesh',
  'Karnataka',
  'Gujarat',
  'West Bengal',
  'Rajasthan',
  'Andhra Pradesh',
  'Telangana',
  'Madhya Pradesh',
  'Kerala',
  'Delhi',
  'Haryana',
  'Bihar',
  'Punjab',
  'Odisha',
  'Assam',
  'Chhattisgarh',
  'Jharkhand',
  'Uttarakhand',
  'Himachal Pradesh',
  'Jammu & Kashmir',
  'Goa',
  'Tripura',
  'Chandigarh',
  'Puducherry',
  'Meghalaya',
  'Nagaland',
  'Manipur',
  'Sikkim',
  'Arunachal Pradesh',
  'Mizoram',
  'Andaman & Nicobar Islands'])

In [343]:
#//*[@id="table_id"]/tbody/tr[1]/td[3]

In [344]:
gsdp1=[]

In [345]:
gd1=driver.find_elements_by_xpath("//td[3]")
for i in gd1[0:33]:
    gsdp1.append(i.text)
gsdp1

['-',
 '1,664,159',
 '1,542,432',
 '1,535,224',
 '-',
 '1,177,586',
 '929,124',
 '933,402',
 '865,688',
 '809,327',
 '-',
 '779,652',
 '707,126',
 '557,490',
 '521,861',
 '485,376',
 '-',
 '311,660',
 '307,581',
 '245,895',
 '153,181',
 '-',
 '77,172',
 '-',
 '-',
 '36,656',
 '-',
 '-',
 '-',
 '26,786',
 '-',
 '-',
 '-']

In [346]:
len(gsdp1)

33

In [347]:
gsdp2=[]
gd2=driver.find_elements_by_xpath("//td[@class='data sorting_1']")
for i in gd2[0:33]:
    gsdp2.append(i.text)
gsdp2

['2,411,600',
 '1,461,841',
 '1,376,324',
 '1,350,257',
 '1,314,680',
 '999,585',
 '835,558',
 '809,547',
 '753,811',
 '728,242',
 '700,532',
 '690,098',
 '626,054',
 '484,740',
 '479,141',
 '436,374',
 '288,494',
 '284,194',
 '276,243',
 '222,836',
 '140,613',
 '138,488',
 '70,493',
 '46,133',
 '38,806',
 '32,962',
 '30,790',
 '24,281',
 '23,968',
 '23,495',
 '22,045',
 '19,457',
 '7,871']

In [351]:
#//*[@id="table_id"]/tbody/tr[1]/td[5]

In [352]:
share=[]
sha=driver.find_elements_by_xpath("//td[5]")    #driver.find_elements_by_xpath("//td[@class='data'][2]")
for i in sha[0:33]:
    share.append(i.text)
len(share),share

(33,
 ['14.11%',
  '8.55%',
  '8.05%',
  '7.90%',
  '7.69%',
  '5.85%',
  '4.89%',
  '4.74%',
  '4.41%',
  '4.26%',
  '4.10%',
  '4.04%',
  '3.66%',
  '2.84%',
  '2.80%',
  '2.55%',
  '1.69%',
  '1.66%',
  '1.62%',
  '1.30%',
  '0.82%',
  '0.81%',
  '0.41%',
  '0.27%',
  '0.23%',
  '0.19%',
  '0.18%',
  '0.14%',
  '0.14%',
  '0.14%',
  '0.13%',
  '0.11%',
  '0.05%'])

In [353]:
#//*[@id="table_id"]/tbody/tr[1]/td[6]

In [354]:
gdp=[]
gp=driver.find_elements_by_xpath("//td[6]")    #driver.find_elements_by_xpath("//td[@class='data'][3]")
for i in gp[0:33]:
    gdp.append(i.text)
len(gdp),gdp

(33,
 ['374.196',
  '226.827',
  '213.558',
  '209.513',
  '203.993',
  '155.101',
  '129.650',
  '125.614',
  '116.965',
  '112.998',
  '108.698',
  '107.079',
  '97.142',
  '75.215',
  '74.346',
  '67.710',
  '44.764',
  '44.097',
  '42.863',
  '34.576',
  '21.818',
  '21.489',
  '10.938',
  '7.158',
  '6.021',
  '5.115',
  '4.778',
  '3.768',
  '3.719',
  '3.646',
  '3.421',
  '3.019',
  '1.221'])

In [355]:
print(len(ranks),len(state),len(gsdp1),len(gsdp2),len(share),len(gdp))

33 33 33 33 33 33

In [356]:
dfgdp=pd.DataFrame({})

dfgdp['Rank']=ranks
dfgdp['State']=state
dfgdp['GSDP(18-19)']=gsdp1
dfgdp['GSDP(17-18)']=gsdp2
dfgdp['Share']=share
dfgdp['GDP($ billion)']=gdp
dfgdp

,Rank,State,GSDP(18-19),GSDP(17-18),Share,GDP($ billion)
0,1,Maharashtra,-,"2,411,600",14.11%,374.196
1,2,Tamil Nadu,"1,664,159","1,461,841",8.55%,226.827
2,3,Uttar Pradesh,"1,542,432","1,376,324",8.05%,213.558
3,4,Karnataka,"1,535,224","1,350,257",7.90%,209.513
4,5,Gujarat,-,"1,314,680",7.69%,203.993
5,6,West Bengal,"1,177,586","999,585",5.85%,155.101
6,7,Rajasthan,"929,124","835,558",4.89%,129.650
7,8,Andhra Pradesh,"933,402","809,547",4.74%,125.614
8,9,Telangana,"865,688","753,811",4.41%,116.965
9,10,Madhya Pradesh,"809,327","728,242",4.26%,112.998
10,11,Kerala,-,"700,532",4.10%,108.698
11,12,Delhi,"779,652","690,098",4.04%,107.079
12,13,Haryana,"707,126","626,054",3.66%,97.142
13,14,Bihar,"557,490","484,740",2.84%,75.215
14,15,Punjab,"521,861","479,141",2.80%,74.346
15,16,Odisha,"485,376","436,374",2.55%,67.710
16,17,Assam,-,"288,494",1.69%,44.764
17,18,Chhattisgarh,"311,660","284,194",1.66%,44.097
18,19,Jharkhand,"307,581","276,243",1.62%,42.863
19,20,Uttarakhand,"245,895","222,836",1.30%,34.576
20,21,Himachal Pradesh,"153,181","140,613",0.82%,21.818
21,22,Jammu & Kashmir,-,"138,488",0.81%,21.489
22,23,Goa,"77,172","70,493",0.41%,10.938
23,24,Tripura,-,"46,133",0.27%,7.158
24,25,Chandigarh,-,"38,806",0.23%,6.021
25,26,Puducherry,"36,656","32,962",0.19%,5.115
26,27,Meghalaya,-,"30,790",0.18%,4.778
27,28,Nagaland,-,"24,281",0.14%,3.768
28,29,Manipur,-,"23,968",0.14%,3.719
29,30,Sikkim,"26,786","23,495",0.14%,3.646
30,31,Arunachal Pradesh,-,"22,045",0.13%,3.421
31,32,Mizoram,-,"19,457",0.11%,3.019
32,33,Andaman & Nicobar Islands,-,"7,871",0.05%,1.221

5. Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [71]:
driver = webdriver.Chrome(r"D:\data science\chromedriver.exe")
url="https://github.com/"
driver.get(url)

In [72]:
#class="HeaderMenu-summary HeaderMenu-link px-0 py-3 border-0 no-wrap d-block d-lg-inline-block"

In [73]:
#/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary

In [74]:
driver.find_element_by_xpath('//html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary').click()

In [75]:
#/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a

In [76]:
driver.find_element_by_xpath('//a[@href="/trending"]').click()

In [77]:
repositorytitle=[]
repositorydescription=[]
contributorscount=[]
languageused=[]

repo=driver.find_elements_by_xpath("//html/body/div[4]/main/div[3]/div/div[2]/article[1]/h1/a")    #driver.find_elements_by_xpath("//td[@class='data'][3]")
for i in repo:
    repositorytitle.append(i.text)
len(repositorytitle),repositorytitle

repo=driver.find_elements_by_xpath('//a[@data-hydro-click-hmac="81091c5349958de6e89f5356c231c04d0ed87d30043ed9d4d26a3c5d867e1450"]')    #driver.find_elements_by_xpath("//td[@class='data'][3]")
for i in repo:
    repositorytitle.append(i.text)
len(repositorytitle),repositorytitle

In [78]:
repositorytitle=[]
repo=driver.find_elements_by_xpath("//h1/a")    
for i in repo:
    repositorytitle.append(i.text)
len(repositorytitle),repositorytitle

(25,
 ['mdn / content',
  'sherlock-project / sherlock',
  'RobinLinus / snapdrop',
  'callstack / react-native-paper',
  'aapatre / Automatic-Udemy-Course-Enroller-GET-PAID-UDEMY-COURSES-for-FREE',
  'willmcgugan / rich',
  'yamashi / PerformanceOverhaulCyberpunk',
  'tiangolo / fastapi',
  'nrwl / nx',
  'metersphere / metersphere',
  'danistefanovic / build-your-own-x',
  'stenzek / duckstation',
  'fireeye / sunburst_countermeasures',
  'jumpserver / jumpserver',
  'sct / overseerr',
  'AFLplusplus / AFLplusplus',
  'business-science / free_r_tips',
  'barrykn / big-sur-micropatcher',
  'jasontaylordev / CleanArchitecture',
  'microsoft / ProjectReunion',
  'commaai / openpilot',
  'hashicorp / packer',
  'sophos-ai / SOREL-20M',
  'mattermost / xml-roundtrip-validator',
  '201206030 / fiction_house'])

In [81]:
repositorydescription=[]
repodesc=driver.find_elements_by_xpath("//p[@class='col-9 text-gray my-1 pr-4']")    
for i in repodesc:
    repositorydescription.append(i.text)
repositorydescription.insert(12," ")
repositorydescription.insert(23," ")
len(repositorydescription),repositorydescription

(25,
 ['The content behind MDN Web Docs',
  '🔎 Hunt down social media accounts by username across social networks',
  'A Progressive Web App for local file sharing',
  'Material Design for React Native (Android & iOS)',
  "Do you want to LEARN NEW STUFF for FREE? Don't worry, with the power of web-scraping and automation, this script will find the necessary Udemy coupons & enroll you for PAID UDEMY COURSES, ABSOLUTELY FREE!",
  'Rich is a Python library for rich text and beautiful formatting in the terminal.',
  'Performance boost, bug fixes and hacks for fun for Cyberpunk 2077',
  'FastAPI framework, high performance, easy to learn, fast to code, ready for production',
  'Extensible Dev Tools for Monorepos',
  'An open source continuous testing platform. MeterSphere 是一站式开源持续测试平台，涵盖测试跟踪、接口测试、性能测试、团队协作等功能，全面兼容 JMeter、Postman 等开源、主流标准。项目采用 SpringBoot 2.x + MyBatis + Vue.js + Element + Docker + Kafka + MySQL等开发。',
  '🤓 Build your own (insert technology here)',
  'Fast PlayStation 1 emulator for PC and Android',
  ' ',
  'JumpServer 是全球首款开源的堡垒机，是符合 4A 的专业运维安全审计系统。',
  'Request management and media discovery tool for the Plex ecosystem',
  'The fuzzer afl++ is afl with community patches, qemu 5.1 upgrade, collision-free coverage, enhanced laf-intel & redqueen, AFLfast++ power schedules, MOpt mutators, unicorn_mode, and a lot more!',
  'Free R-Tips is a FREE Newsletter provided by Business Science. It comes with bite-sized code tutorials every Tuesday.',
  'A primitive USB patcher for installing macOS Big Sur on unsupported Macs',
  'Clean Architecture Solution Template for Angular 10 and .NET 5',
  'Project Reunion is an evolution of the Windows developer platform that will make it more compatible, agile, modern and open.',
  'openpilot is an open source driver assistance system. openpilot performs the functions of Automated Lane Centering and Adaptive Cruise Control for over 85 supported car makes and models.',
  'Packer is a tool for creating identical machine images for multiple platforms from a single source configuration.',
  'Sophos-ReversingLabs 20 million sample dataset',
  ' ',
  '小说精品屋是一个多平台（web、安卓app、微信小程序）、功能完善的屏幕自适应小说漫画连载系统，包含精品小说专区、轻小说专区和漫画专区。包括小说/漫画分类、小说/漫画搜索、小说/漫画排行、完本小说/漫画、小说/漫画评分、小说/漫画在线阅读、小说/漫画书架、小说/漫画阅读记录、小说下载、小说弹幕、小说/漫画自动采集/更新/纠错、小说内容自动分享到微博、邮件自动推广、链接自动推送到百度搜索引擎等功能。'])

In [413]:
#/html/body/div[4]/main/div[3]/div/div[2]/article[2]/div[2]/a[2]

In [82]:
contributorscount=[]
contribute=driver.find_elements_by_xpath('//a[@class="muted-link d-inline-block mr-3"][2]')    
for i in contribute:
    contributorscount.append(i.text)
len(contributorscount),contributorscount

(25,
 ['114',
  '1,876',
  '545',
  '1,096',
  '203',
  '502',
  '48',
  '1,665',
  '598',
  '667',
  '7,966',
  '76',
  '107',
  '3,999',
  '15',
  '248',
  '89',
  '77',
  '794',
  '54',
  '4,483',
  '3,029',
  '35',
  '5',
  '581'])

In [84]:
languageused=[]
lang=driver.find_elements_by_xpath("//span[@itemprop='programmingLanguage']")    
for i in lang:
    languageused.append(i.text)
languageused.insert(10," ")
len(languageused),languageused

(25,
 ['HTML',
  'Python',
  'JavaScript',
  'TypeScript',
  'Python',
  'Python',
  'C++',
  'Python',
  'TypeScript',
  'Java',
  ' ',
  'C++',
  'YARA',
  'Python',
  'TypeScript',
  'C',
  'HTML',
  'Shell',
  'C#',
  'C++',
  'C++',
  'Go',
  'Python',
  'Go',
  'Java'])

In [85]:
print(len(repositorytitle),len(repositorydescription),len(contributorscount),len(languageused))

25 25 25 25

In [86]:
dfgit=pd.DataFrame({})

dfgit['Repository Title']=repositorytitle
dfgit['Repository Description']=repositorydescription
dfgit['Contributors Count']=contributorscount
dfgit['Language Used']=languageused
dfgit

,Repository Title,Repository Description,Contributors Count,Language Used
0,mdn / content,The content behind MDN Web Docs,114,HTML
1,sherlock-project / sherlock,🔎 Hunt down social media accounts by username ...,"1,876",Python
2,RobinLinus / snapdrop,A Progressive Web App for local file sharing,545,JavaScript
3,callstack / react-native-paper,Material Design for React Native (Android & iOS),"1,096",TypeScript
4,aapatre / Automatic-Udemy-Course-Enroller-GET-...,Do you want to LEARN NEW STUFF for FREE? Don't...,203,Python
5,willmcgugan / rich,Rich is a Python library for rich text and bea...,502,Python
6,yamashi / PerformanceOverhaulCyberpunk,"Performance boost, bug fixes and hacks for fun...",48,C++
7,tiangolo / fastapi,"FastAPI framework, high performance, easy to l...","1,665",Python
8,nrwl / nx,Extensible Dev Tools for Monorepos,598,TypeScript
9,metersphere / metersphere,An open source continuous testing platform. Me...,667,Java
10,danistefanovic / build-your-own-x,🤓 Build your own (insert technology here),"7,966",
11,stenzek / duckstation,Fast PlayStation 1 emulator for PC and Android,76,C++
12,fireeye / sunburst_countermeasures,,107,YARA
13,jumpserver / jumpserver,JumpServer 是全球首款开源的堡垒机，是符合 4A 的专业运维安全审计系统。,"3,999",Python
14,sct / overseerr,Request management and media discovery tool fo...,15,TypeScript
15,AFLplusplus / AFLplusplus,The fuzzer afl++ is afl with community patches...,248,C
16,business-science / free_r_tips,Free R-Tips is a FREE Newsletter provided by B...,89,HTML
17,barrykn / big-sur-micropatcher,A primitive USB patcher for installing macOS B...,77,Shell
18,jasontaylordev / CleanArchitecture,Clean Architecture Solution Template for Angul...,794,C#
19,microsoft / ProjectReunion,Project Reunion is an evolution of the Windows...,54,C++
20,commaai / openpilot,openpilot is an open source driver assistance ...,"4,483",C++
21,hashicorp / packer,Packer is a tool for creating identical machin...,"3,029",Go
22,sophos-ai / SOREL-20M,Sophos-ReversingLabs 20 million sample dataset,35,Python
23,mattermost / xml-roundtrip-validator,,5,Go
24,201206030 / fiction_house,小说精品屋是一个多平台（web、安卓app、微信小程序）、功能完善的屏幕自适应小说漫画连载系...,581,Java

Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billiboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [416]:
driver = webdriver.Chrome(r"D:\data science\chromedriver.exe")
url="https://www.billboard.com/"
driver.get(url)

In [ ]:
##class="header__main-link header__main-link--charts"
#//*[@id="root"]/div[2]/div[2]/header/div/ul/li[1]/a

In [419]:
driver.find_element_by_xpath('//div[2]/header/div/ul/li[1]/a').click()

In [421]:
driver.find_element_by_xpath('//div[@class="charts-landing__info--top charts-landing__info--top--hot-100"]').click()

In [433]:
song_name=[]
artist_name=[]
last_week_rank=[]
peak_rank=[]
weeks_on_board=[]

In [434]:
song_name=[]
song=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")    
for i in song:
    song_name.append(i.text)
#len(song_name),song_name

In [435]:
artist_name=[]
artist=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")    
for i in artist:
    artist_name.append(i.text)
#len(artist_name),artist_name

In [436]:
last_week_rank=[]
weekrank=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last'][1]")    
for i in weekrank:
    last_week_rank.append(i.text)
#len(last_week_rank),last_week_rank

In [437]:
peak_rank=[]
peakrank=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak'][1]")    
for i in peakrank:
    peak_rank.append(i.text)
#len(peak_rank),peak_rank

In [438]:
weeks_on_board=[]
week=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week'][1]")    
for i in week:
    weeks_on_board.append(i.text)
#len(weeks_on_board),weeks_on_board

In [439]:
dfbillboard=pd.DataFrame({})

dfbillboard['Song Name']=song_name
dfbillboard['Artist Name']=artist_name
dfbillboard['Last Week Rank']=last_week_rank
dfbillboard['Peak Rank']=peak_rank
dfbillboard['Weeks On Board']=weeks_on_board

dfbillboard

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
0,All I Want For Christmas Is You,Mariah Carey,2,1,41
1,Mood,24kGoldn Featuring iann dior,1,1,18
2,Rockin' Around The Christmas Tree,Brenda Lee,4,2,36
3,Positions,Ariana Grande,3,1,7
4,Jingle Bell Rock,Bobby Helms,9,3,33
...,...,...,...,...,...
95,Hallelujah,Carrie Underwood & John Legend,-,96,1
96,Practice,DaBaby,-,86,5
97,Put Your Records On,Ritt Momney,-,79,9
98,Te Mudaste,Bad Bunny,60,60,2
99,Silent Night,Carrie Underwood,-,100,1

Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [5]:
driver = webdriver.Chrome(r"D:\data science\chromedriver.exe")
url="https://www.naukri.com/"
driver.get(url)

In [6]:
#driver.find_element_by_xpath('//button[@class="fl qsbSrch blueBtn"]').click()

In [7]:
#driver.find_element_by_xpath('//input[@class="sugInp"]').send_keys("Data Science")

In [8]:
chwd = driver.window_handles

In [9]:
p = driver.current_window_handle

In [10]:
for w in chwd:
#switch focus to child window
    if(w!=p):
        driver.switch_to.window(w)
    break
#driver.quit()

In [11]:
newtab=driver.find_element_by_xpath('//a[@title="Search Recruiters"]')

In [12]:
newlink=newtab.get_attribute("href")

In [13]:
driver.close()

In [14]:
driver = webdriver.Chrome(r"D:\data science\chromedriver.exe")
driver.get(newlink)

In [15]:
driver.find_element_by_xpath('//input[@class="sugInp"]').send_keys("Data Science")

In [16]:
driver.find_element_by_xpath('//button[@class="fl qsbSrch blueBtn"]').click()

In [17]:
#class='fl ellipsis'

In [18]:
name=[]
designation=[]
company=[]
skills_they_hire_for=[]
location=[]

In [19]:
name=[]
week=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")    
for i in week:
    name.append(i.text)
#len(name),name

In [20]:
designation=[]
desc=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")    
for i in desc:
    designation.append(i.text)
#len(designation),designation

In [21]:
company=[]
com=driver.find_elements_by_xpath("//a[@class='ellipsis'][2]")    
for i in com:
    company.append(i.text)
#len(company),company

In [22]:
skills_they_hire_for=[]
skill=driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')    
for i in skill:
    skills_they_hire_for.append(i.text)
#len(skills_they_hire_for),skills_they_hire_for

In [28]:
location=[]
loc=driver.find_elements_by_xpath('//small[@class="ellipsis"]')    
for i in loc:
    location.append(i.text)
location.insert(46," ")
location.insert(30," ")
len(location),location

(50,
 ['Delhi',
  'Hyderabad / Secunderabad',
  'Chandigarh',
  'Ahmedabad',
  'Pune',
  'UK - (london)',
  'Delhi',
  'Vadodara / Baroda',
  'Chennai',
  'Trivandrum',
  'Indore',
  'Bengaluru / Bangalore',
  'Hyderabad / Secunderabad',
  'Bengaluru / Bangalore',
  'Mumbai',
  'Navi Mumbai',
  'Bhopal',
  'Bengaluru / Bangalore',
  'Cochin',
  'Hyderabad / Secunderabad',
  'Delhi',
  'Hyderabad / Secunderabad',
  'Pune',
  'Pune',
  'Chandigarh',
  'Pune',
  'Pune',
  'Bengaluru / Bangalore',
  'Hyderabad / Secunderabad',
  'Bengaluru / Bangalore',
  ' ',
  'Delhi',
  'Mysoru / Mysore',
  'Noida',
  'New Delhi',
  'Chennai',
  'Aligarh',
  'Salt Lake City',
  'Pune',
  'Bengaluru / Bangalore',
  'Mumbai',
  'Indore',
  'Bengaluru / Bangalore',
  'MYSORE',
  'Hyderabad / Secunderabad',
  'Bengaluru / Bangalore',
  'Mumbai',
  ' ',
  'Hyderabad / Secunderabad',
  'Noida'])

In [29]:
jobrecruit=pd.DataFrame({})

jobrecruit['Name']=name
jobrecruit['Designation']=designation
jobrecruit['Company']=company
jobrecruit['Skills they hire for']=skills_they_hire_for
jobrecruit['Location']=location

jobrecruit

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Jitendra Singh,Manager- Talent Acquisition,Compunnel Technology India Pvt. Ltd,"Python, Data Science, .Net, Java, Big Data, Da...",Delhi
7,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
8,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
9,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
10,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
11,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Rakhi,Recruitment Consultant,Walkingtext Private Limited,"Ites, Data Science, Cloud, Iot",Bengaluru / Bangalore
18,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
19,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
23,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
24,Pooja Seth,IT Technical Recruiter,RAPS iTech,"B.tech, Hr Mba, quality assurance engineering,...",Chandigarh
25,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
26,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
28,Srikanth Bellup,Director,TeachR Robotics Pvt. Ltd,"mechatronics, robotics, Home Automation, iot, ...",Hyderabad / Secunderabad
29,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
33,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",
48,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
49,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [33]:
driver = webdriver.Chrome(r"D:\data science\chromedriver.exe")
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)

In [34]:
book_name=[]
auther_name=[]
volumes_sold=[]
publisher=[]
genre=[]

In [44]:
book_name=[]
skill=driver.find_elements_by_xpath('//td[@class="left"][2]')    
for i in skill:
    book_name.append(i.text)
#len(book_name),book_name

In [45]:
auther_name=[]
skill=driver.find_elements_by_xpath('//td[@class="left"][3]')    
for i in skill:
    auther_name.append(i.text)
#len(auther_name),auther_name

In [46]:
volumes_sold=[]
skill=driver.find_elements_by_xpath('//td[@class="left"][4]')    
for i in skill:
    volumes_sold.append(i.text)
#len(volumes_sold),volumes_sold

In [47]:
publisher=[]
skill=driver.find_elements_by_xpath('//td[@class="left"][5]')    
for i in skill:
    publisher.append(i.text)
#len(publisher),publisher

In [48]:
genre=[]
skill=driver.find_elements_by_xpath('//td[@class="last left"]')    
for i in skill:
    genre.append(i.text)
#len(genre),genre

In [49]:
bookdata=pd.DataFrame({})

bookdata['Book Name']=book_name
bookdata['Auther Name']=auther_name
bookdata['Volumes Sold']=volumes_sold
bookdata['Publisher']=publisher
bookdata['Genre']=genre

bookdata

,Book Name,Auther Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [50]:
driver = webdriver.Chrome(r"D:\data science\chromedriver.exe")
url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)

In [51]:
name=[]
Year_span=[]
genre=[]
Run_time=[]
ratings=[]
votes=[]

In [53]:
name=[]
skill=driver.find_elements_by_xpath('//h3[@class="lister-item-header"]')    
for i in skill:
    name.append(i.text)
#len(name),name

In [55]:
Year_span=[]
skill=driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')    
for i in skill:
    Year_span.append(i.text)
#len(Year_span),Year_span

In [58]:
genre=[]
skill=driver.find_elements_by_xpath('//span[@class="genre"]')    
for i in skill:
    genre.append(i.text)
#len(genre),genre

In [61]:
Run_time=[]
skill=driver.find_elements_by_xpath('//span[@class="runtime"]')    
for i in skill:
    Run_time.append(i.text)
#len(Run_time),Run_time

In [89]:
#//*[@id="main"]/div/div[3]/div[3]/div[100]/div[2]/div[1]/div[1]/span[2] #span[@class="ipl-rating-star__rating"]//div[1]

In [96]:
ratings=[]
skill=driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]')    
for i in skill:
    ratings.append(i.text)
#len(ratings),ratings

In [98]:
votes=[]
skill=driver.find_elements_by_xpath('//span[@name="nv"]')    
for i in skill:
    votes.append(i.text)
#len(votes),votes

In [99]:
imdb=pd.DataFrame({})

imdb['Name']=name
imdb['Year span']=Year_span
imdb['Genre']=genre
imdb['Run time']=Run_time
imdb['Ratings']=ratings
imdb['Votes']=votes

imdb

,Name,Year span,Genre,Run time,Ratings,Votes
0,1. Game of Thrones (2011–2019),(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,739,153"
1,2. Stranger Things (2016– ),(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"797,506"
2,3. The Walking Dead (2010– ),(2010– ),"Drama, Horror, Thriller",44 min,8.2,"842,578"
3,4. 13 Reasons Why (2017–2020),(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"252,410"
4,5. The 100 (2014–2020),(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"211,731"
...,...,...,...,...,...,...
95,96. Reign (2013–2017),(2013–2017),"Drama, Fantasy",42 min,7.5,"42,921"
96,97. A Series of Unfortunate Events (2017–2019),(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"53,108"
97,98. Criminal Minds (2005–2020),(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"157,616"
98,99. Scream: The TV Series (2015– ),(2015– ),"Crime, Drama, Horror",45 min,7.2,"33,671"
99,100. The Haunting of Hill House (2018),(2018),"Drama, Horror, Mystery",572 min,8.6,"176,639"

10. Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [5]:
driver = webdriver.Chrome(r"D:\data science\chromedriver.exe")
url = 'https://archive.ics.uci.edu/'
driver.get(url)

In [6]:
driver.find_element_by_xpath('//a[@href="datasets.php"]').click()

In [ ]:
#/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[2]/td[1]/table/tbody/tr/td[2]/p/b/a

In [35]:
Dataset_name=[]
skill=driver.find_elements_by_xpath('//p[@class="normal"]/b')    
for i in skill:
    Dataset_name.append(i.text)
#len(Dataset_name),Dataset_name

In [ ]:
#/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[2]/td[2]/p

In [64]:
Data_type=[]
skill=driver.find_elements_by_xpath('//td[2]/p')    
for i in skill[2:1120]:
        Data_type.append(i.text)
del Data_type[::2]
#len(Data_type),Data_type

In [65]:
task=[]
kill=driver.find_elements_by_xpath('//td[3]/p')    #/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[2]/td[3]/p
for i in kill[1:560]:
    task.append(i.text)
#len(task),task

In [66]:
attribute=[]
kill=driver.find_elements_by_xpath('//td[4]/p')    #/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[2]/td[4]/p
for i in kill[1:560]:
    attribute.append(i.text)
#len(attribute),attribute

In [67]:
typeNo_of_instances=[]
kill=driver.find_elements_by_xpath('//td[5]/p')    #/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[2]/td[5]/p
for i in kill[1:560]:
    typeNo_of_instances.append(i.text)
#len(typeNo_of_instances),typeNo_of_instances

In [68]:
No_of_attribute=[]
kill=driver.find_elements_by_xpath('//td[6]/p')    #/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[2]/td[6]/p
for i in kill[1:560]:
    No_of_attribute.append(i.text)
#len(No_of_attribute),No_of_attribute

In [69]:
year=[]
kill=driver.find_elements_by_xpath('//td[7]/p')    #/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[2]/td[7]/p
for i in kill[1:560]:
    year.append(i.text)
#len(year),year

In [70]:
youseeeye=pd.DataFrame({})
youseeeye['Dataset name']=Dataset_name
youseeeye['Data type']=Data_type
youseeeye['Task']=task
youseeeye['Attribute']=attribute
youseeeye['TypeNo of instances']=typeNo_of_instances
youseeeye['No of attribute']=No_of_attribute
youseeeye['Year']=year

youseeeye

,Dataset name,Data type,Task,Attribute,TypeNo of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
554,IIWA14-R820-Gazebo-Dataset-10Trajectories,,Regression,Integer,,,2020
555,Guitar Chords finger positions,Text,Classification,,2633,5,2020
556,Russian Corpus of Biographical Texts,Text,Classification,,200,2,2020
557,Codon usage,Multivariate,"Classification, Clustering",,13028,69,2020
558,Intelligent Media Accelerometer and Gyroscope ...,Time-Series,Classification,Real,800,9,2020